@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media (width < 1280px) {
    body {
        display: none;
    }
}

* {
    font-family: "Montserrat", sans-serif;
}

img {
    object-fit: cover;
}

body {
    background: #e4e4e4 !important;
    overflow-x: hidden;
}

header {
    background: #2c2425;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.titleMargin {
    position: fixed;
    top: 95px;
    width: 100%;
    left: 0;
    z-index: 998;
    transition: top .3s;
}

.logo img {
    object-fit: cover;
    border-radius: 4px;
}

.container_nav {
    height: 95px;
}

.ui-input-container {
    position: relative;
    width: 300px;
}

.ui-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
    color: #fff;
}

.ui-input::placeholder {
    color: #fff;
}

.ui-input:focus {
    border-color: #149CEA;
}

.ui-input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #149CEA;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.ui-input:focus+.ui-input-underline {
    transform: scaleX(1);
}

.ui-input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(108, 99, 255, 0.1);
    transition: width 0.3s;
}

.ui-input:focus~.ui-input-highlight {
    width: 100%;
}

.ui-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    transition: color 0.3s;
}

.ui-input:focus~.ui-input-icon {
    color: #149CEA;
}

.ui-input-icon svg {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

.icon {
    color: #fff;
    font-size: 24px;
}

.menu_nav li {
    cursor: pointer;
}

.textNav {
    text-decoration: none;
}

.textNav:hover {
    color: #e0e0eb !important;
    transition: .3s ease;
    text-decoration: underline;
}

.buttonNav {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttonNav::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #2c2425;
    transition: 0.5s;
    transform-origin: center;
}

.buttonNav::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #2c2425;
    transition: 0.5s;
}

.buttonNav:hover::before,
.buttonNav:hover::after {
    transform: scale(0)
}

.buttonNav:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
}

.heading {
    height: 70px;
}

.borderRight {
    border-right: 2px solid #b1b1b1;
    padding-right: 1.5rem;
    cursor: pointer;
}

.menu_heading li:hover,
.menu_heading li:hover .text-dark {
    color: #1479EA !important;
    transition: .3s ease;
}

.imgCarousel {
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    background-color: #202020 !important;
}

.carousel-indicators .active {
    background-color: #353535 !important;
}

.textSP {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg001 {
    background: linear-gradient(to left, #222527, #2f3031);
    border-radius: 4px;
}

.time {
    border-radius: 4px;
}

.bg002 {
    background: linear-gradient(to bottom, #343738, #2f3031);
    border-radius: 4px;
    min-height: 50vh;
    margin-top: 0.5rem;
}

.bg003 {
    height: 400px;
    background-image: url(images/sierra.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 4px;
    transition: background-size 0.3s ease;
}

.bg003:hover {
    background-size: 105% 105%;
}

.panel {
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.panel.active {
    background: linear-gradient(to top, #fff, #e7e7e7);
    color: #13161b !important;
    font-weight: 700;
}

.panel::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}

.custom-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.custom-nav button {
    outline: none;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 28px;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-nav button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-nav button:hover::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0.3;
}

.custom-nav button:hover::after {
    transform: scale(1.05);
    background-color: red;
}


#nextBtn {
    float: right;
    margin-right: -20px;
}

#prevBtn {
    float: left;
    margin-left: 28px;
}

.t_over {
    max-height: 85px;
    overflow-y: auto;
}

/* Đối với Chrome, Edge và Safari */
.t_over::-webkit-scrollbar {
    width: 5px;
    margin-right: -5px;
    /* Độ rộng của thanh cuộn */
}

.t_over::-webkit-scrollbar-track {
    background: #e4e4e4;
    /* Màu nền thanh cuộn */
    border-radius: 4px;
}

.t_over::-webkit-scrollbar-thumb {
    background-color: #2f3031;
    /* Màu của thanh cuộn */
    border-radius: 4px;
}

.t_over::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Màu thanh cuộn khi hover */
}