@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@media (width < 1280px) {
    body {
        display: none;
    }
}

* {
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: "EMATANE";
    src: url("EMATANE-PersonalUse.otf") format("opentype");
}

img {
    object-fit: cover;
}

body {
    background: #e4e4e4 !important;
    overflow-x: hidden;
}

header {
    background: #2c2425;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.titleMargin {
    position: fixed;
    top: 95px;
    width: 100%;
    left: 0;
    z-index: 998;
    transition: top 0.3s;
}

.logo img {
    object-fit: cover;
    border-radius: 4px;
}

.container_nav {
    height: 95px;
}

.ui-input-container {
    position: relative;
    width: 300px;
}

.ui-input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
    color: #fff;
}

.ui-input::placeholder {
    color: #fff;
}

.ui-input:focus {
    border-color: #149cea;
}

.ui-input-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #149cea;
    transform: scaleX(0);
    transition: transform 0.3s;
}

.ui-input:focus + .ui-input-underline {
    transform: scaleX(1);
}

.ui-input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: rgba(108, 99, 255, 0.1);
    transition: width 0.3s;
}

.ui-input:focus ~ .ui-input-highlight {
    width: 100%;
}

.ui-input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    transition: color 0.3s;
}

.ui-input:focus ~ .ui-input-icon {
    color: #149cea;
}

.ui-input-icon svg {
    width: 20px;
    height: 20px;
    margin-bottom: 4px;
}

.icon {
    color: #fff;
    font-size: 24px;
}

.menu_nav li {
    cursor: pointer;
}

.textNav {
    text-decoration: none;
}

.textNav:hover {
    color: #e0e0eb !important;
    transition: 0.3s ease;
    text-decoration: underline;
}

.buttonNav {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149cea;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.buttonNav::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #2c2425;
    transition: 0.5s;
    transform-origin: center;
}

.buttonNav::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #2c2425;
    transition: 0.5s;
}

.buttonNav:hover::before,
.buttonNav:hover::after {
    transform: scale(0);
}

.buttonNav:hover {
    box-shadow: inset 0px 0px 25px #1479ea;
}

.heading {
    height: 70px;
}

.borderRight {
    border-right: 2px solid #b1b1b1;
    padding-right: 1.5rem;
    cursor: pointer;
}

.menu_heading li:hover,
.menu_heading li:hover .text-dark {
    color: #1479ea !important;
    transition: 0.3s ease;
}

.imgCarousel {
    object-fit: cover;
}

.carousel-indicators [data-bs-target] {
    background-color: #202020 !important;
}

.carousel-indicators .active {
    background-color: #353535 !important;
}

.textSP {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg001 {
    background: linear-gradient(to left, #222527, #2f3031);
    border-radius: 4px;
}

.time {
    border-radius: 4px;
}

.bg002 {
    background: linear-gradient(to bottom, #343738, #2f3031);
    border-radius: 4px;
    min-height: 50vh;
    margin-top: 0.5rem;
}

.panel {
    cursor: pointer;
    border-radius: 4px;
    position: relative;
}

.panel.active {
    background: linear-gradient(to top, #fff, #e7e7e7);
    color: #13161b !important;
    font-weight: 700;
}

.panel::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: #fff;
}

.custom-nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.custom-nav button {
    outline: none;
    background: none;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 28px;
    background-color: #fff;
    color: #333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-nav button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.custom-nav button:hover::after {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    opacity: 0.3;
}

.custom-nav button:hover::after {
    transform: scale(1.05);
    background-color: red;
}

#nextBtn1 {
    float: right;
    margin-right: -20px;
}

#prevBtn1 {
    float: left;
    margin-left: 28px;
}

.t_over {
    max-height: 85px;
    overflow-y: auto;
}

.t_over::-webkit-scrollbar {
    width: 5px;
    margin-right: -5px;
}

.t_over::-webkit-scrollbar-track {
    background: #e4e4e4;
    border-radius: 4px;
}

.t_over::-webkit-scrollbar-thumb {
    background-color: #2f3031;
    border-radius: 4px;
}

.t_over::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.phimCoKhung,
.switchKhung {
    background: linear-gradient(to left, #222527, #2f3031);
}

.titlePhimCo::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 18%;
    width: 20%;
    height: 4px;
    background: white;
    margin-left: 24px;
}

.titlePhimVP::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 18%;
    width: 27%;
    height: 4px;
    background: white;
    margin-left: 24px;
}

.titleKeycaps::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 18%;
    width: 16%;
    height: 4px;
    background: white;
    margin-right: 24px;
}

.card-title:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease;
    color: #1479ea;
}

.btn-shine {
    color: #fff;
    background: linear-gradient(to right, #9f9f9f 0%, #fff 50%, #868686 100%);
    background-size: 200%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 5s ease-in-out infinite;
    white-space: nowrap;
    text-decoration: none;
    font-family: "Kode Mono", monospace;
    font-weight: bold;
}

@keyframes shine {
    0% {
        background-position: -100%;
    }

    50% {
        background-position: 100%;
    }

    100% {
        background-position: -100%;
    }
}

.btn-xemThem {
    font-weight: 500;
    font-size: 14px;
    color: #ed8a19;
    text-decoration: none;
}

.btn-xemThem:hover {
    font-weight: 500;
    font-size: 14px;
    color: #e7973b;
    text-decoration: underline;
}

.containerTT {
    background-color: #ffffff;
    display: flex;
    width: 460px;
    height: 120px;
    position: relative;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
    scale: 0.6;
}

.containerTT:hover {
    transform: scale(1.03);
    width: 220px;
}

.containerTT:hover .left-side {
    width: 100%;
}

.left-side {
    background-color: #5de2a3;
    width: 130px;
    height: 120px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
    flex-shrink: 0;
    overflow: hidden;
}

.right-side {
    width: calc(100% - 130px);
    display: flex;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
}

.right-side:hover {
    background-color: #f9f7f9;
}

.arrow {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.new {
    font-size: 23px;
    font-family: "Lexend Deca", sans-serif;
    margin-left: 20px;
}

.cardTT {
    width: 70px;
    height: 46px;
    background-color: #c7ffbc;
    border-radius: 6px;
    position: absolute;
    display: flex;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
    -moz-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
    -webkit-box-shadow: 9px 9px 9px -2px rgba(77, 200, 143, 0.72);
}

.card-line {
    width: 65px;
    height: 13px;
    background-color: #80ea69;
    border-radius: 2px;
    margin-top: 7px;
}

@media only screen and (max-width: 480px) {
    .containerTT {
        transform: scale(0.7);
    }

    .containerTT:hover {
        transform: scale(0.74);
    }

    .new {
        font-size: 18px;
    }
}

.buttons {
    width: 8px;
    height: 8px;
    background-color: #379e1f;
    box-shadow: 0 -10px 0 0 #26850e, 0 10px 0 0 #56be3e;
    border-radius: 50%;
    margin-top: 5px;
    transform: rotate(90deg);
    margin: 10px 0 0 -30px;
}

.containerTT:hover .cardTT {
    animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

.containerTT:hover .post {
    animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-70px) rotate(90deg);
        transform: translateY(-70px) rotate(90deg);
    }

    60% {
        -webkit-transform: translateY(-70px) rotate(90deg);
        transform: translateY(-70px) rotate(90deg);
    }

    100% {
        -webkit-transform: translateY(-8px) rotate(90deg);
        transform: translateY(-8px) rotate(90deg);
    }
}

.post {
    width: 63px;
    height: 75px;
    background-color: #dddde0;
    position: absolute;
    z-index: 11;
    bottom: 10px;
    top: 120px;
    border-radius: 6px;
    overflow: hidden;
}

.post-line {
    width: 47px;
    height: 9px;
    background-color: #545354;
    position: absolute;
    border-radius: 0px 0px 3px 3px;
    right: 8px;
    top: 8px;
}

.post-line:before {
    content: "";
    position: absolute;
    width: 47px;
    height: 9px;
    background-color: #757375;
    top: -8px;
}

.screen {
    width: 47px;
    height: 23px;
    background-color: #ffffff;
    position: absolute;
    top: 22px;
    right: 8px;
    border-radius: 3px;
}

.numbers {
    width: 12px;
    height: 12px;
    background-color: #838183;
    box-shadow: 0 -18px 0 0 #838183, 0 18px 0 0 #838183;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 52px;
}

.numbers-line2 {
    width: 12px;
    height: 12px;
    background-color: #aaa9ab;
    box-shadow: 0 -18px 0 0 #aaa9ab, 0 18px 0 0 #aaa9ab;
    border-radius: 2px;
    position: absolute;
    transform: rotate(90deg);
    left: 25px;
    top: 68px;
}

@keyframes slide-post {
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(-70px);
        transform: translateY(-70px);
    }
}

.dollar {
    position: absolute;
    font-size: 16px;
    font-family: "Lexend Deca", sans-serif;
    width: 100%;
    left: 0;
    top: 0;
    color: #4b953b;
    text-align: center;
}

.containerTT:hover .dollar {
    animation: fade-in-fwd 0.3s 1s backwards;
}

@keyframes fade-in-fwd {
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-btn {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    font-size: 18px;
    cursor: pointer;
}

.quantity-btn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

#quantity {
    width: 50px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.socials li {
    list-style: none;
}

.socials li a {
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #ddd, #fff);
    transition: 0.5s;
}

.socials li a:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.socials li a .fas {
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg, #fff, #ddd);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 24px;
    color: #262626;
    transition: 0.5s;
}

.socials li:nth-child(1) a:hover .fas {
    color: #3b5998;
}

.socials li:nth-child(2) a:hover .fas {
    color: #00aced;
}

.gioHang {
    border: 1px solid #262626;
    padding: 2rem 0 0 3rem;
    background: rgba(238, 238, 238, 0.5);
}

.bg003 {
    height: 400px;
    background-image: url("{{ $deal_sale[0]->image }}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    border-radius: 4px;
    transition: background-size 0.3s ease;
}

.bg003:hover {
    background-size: 110% 110%;
}

.scene {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.cube {
    color: #ccc;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    transition: all 0.85s cubic-bezier(0.17, 0.67, 0.14, 0.93);
    transform-style: preserve-3d;
    transform-origin: 100% 50%;
    width: 100%;
    height: 4em;
}

.cube:hover {
    transform: rotateX(-90deg);
}

.side {
    box-sizing: border-box;
    position: absolute;
    display: inline-block;
    height: 4em;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    padding-top: 1.5em;
    font-weight: bold;
}

.top {
    background: wheat;
    color: #222229;
    transform: rotateX(90deg) translate3d(0, 0, 2em);
    box-shadow: inset 0 0 0 5px #fff;
}

.front {
    background: #222229;
    color: #fff;
    box-shadow: inset 0 0 0 5px #fff;
    transform: translate3d(0, 0, 2em);
}

#toltoptips .wrapper {
    --background: #62abff;
    --icon-color: #414856;
    --shape-color-01: #b8cbee;
    --shape-color-02: #7691e8;
    --shape-color-03: #fdd053;
    --width: 90px;
    --height: 90px;
    --border-radius: var(--height);
    width: var(--width);
    height: var(--height);
    position: relative;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}
#toltoptips .wrapper .btn {
    background: var(--background);
    width: var(--width);
    height: var(--height);
    position: relative;
    z-index: 3;
    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation: plus-animation-reverse 0.5s ease-out forwards;
    animation: plus-animation-reverse 0.5s ease-out forwards;
}
#toltoptips .wrapper .btn::before,
#toltoptips .wrapper .btn::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
}
#toltoptips .wrapper .btn::before {
    width: 4px;
    height: 28px;
}
#toltoptips .wrapper .btn::after {
    width: 28px;
    height: 4px;
}
#toltoptips .wrapper .tooltip {
    width: fit-content;
    height: 75px;
    border-radius: 70px;
    position: absolute;
    background: #fff;
    z-index: 2;
    padding: 20px 35px;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
}
#toltoptips .wrapper .tooltip > span {
    position: relative;
    width: 100%;
    white-space: nowrap;
    opacity: 0;
    font-weight: 600;
    color: #000;
}
#toltoptips .wrapper .tooltip > svg {
    width: 100%;
    height: 26px;
    display: block;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
#toltoptips .wrapper .tooltip > svg .icon {
    fill: none;
    stroke: var(--icon-color);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.4;
    transition: opacity 0.3s ease;
}
#toltoptips .wrapper .tooltip > svg:hover .icon {
    opacity: 1;
}
#toltoptips .wrapper .tooltip::after {
    content: "";
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -8px;
    transform: rotate(45deg);
    z-index: 0;
}
#toltoptips .wrapper > svg {
    width: 300px;
    height: 300px;
    position: absolute;
    z-index: 1;
    transform: scale(0);
}
#toltoptips .wrapper > svg .shape {
    fill: none;
    stroke: none;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50% 20%;
}
#toltoptips .wrapper input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}
#toltoptips .wrapper input:checked ~ svg {
    -webkit-animation: pang-animation 1.2s ease-out forwards;
    animation: pang-animation 1.2s ease-out forwards;
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(1) {
    transform: translate(25px, 30%) rotate(40deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(2) {
    transform: translate(-4px, 30%) rotate(80deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(3) {
    transform: translate(12px, 30%) rotate(120deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(4) {
    transform: translate(8px, 30%) rotate(160deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(5) {
    transform: translate(21px, 30%) rotate(200deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(6) {
    transform: translate(0px, 30%) rotate(240deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(7) {
    transform: translate(17px, 30%) rotate(280deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(8) {
    transform: translate(-3px, 30%) rotate(320deg);
}
#toltoptips .wrapper input:checked ~ svg .shape:nth-of-type(9) {
    transform: translate(25px, 30%) rotate(360deg);
}
#toltoptips .wrapper input:checked ~ .btn {
    -webkit-animation: plus-animation 0.5s ease-out forwards;
    animation: plus-animation 0.5s ease-out forwards;
}
#toltoptips .wrapper input:checked ~ .tooltip {
    width: fit-content;
    padding: 30px;
    -webkit-animation: stretch-animation 1s ease-out forwards 0.15s;
    animation: stretch-animation 1s ease-out forwards 0.15s;
    top: -90px;
    opacity: 1;
    border: 4px solid #333;
}

#toltoptips .wrapper input:checked ~ .tooltip > span {
    opacity: 1;
}

@-webkit-keyframes pang-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}

@keyframes pang-animation {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.1);
        opacity: 0;
    }
}
@-webkit-keyframes plus-animation {
    0% {
        transform: rotate(0) scale(1);
    }
    20% {
        transform: rotate(60deg) scale(0.93);
    }
    55% {
        transform: rotate(35deg) scale(0.97);
    }
    80% {
        transform: rotate(48deg) scale(0.94);
    }
    100% {
        transform: rotate(45deg) scale(0.95);
    }
}
@keyframes plus-animation {
    0% {
        transform: rotate(0) scale(1);
    }
    20% {
        transform: rotate(60deg) scale(0.93);
    }
    55% {
        transform: rotate(35deg) scale(0.97);
    }
    80% {
        transform: rotate(48deg) scale(0.94);
    }
    100% {
        transform: rotate(45deg) scale(0.95);
    }
}
@-webkit-keyframes plus-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }
    20% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}
@keyframes plus-animation-reverse {
    0% {
        transform: rotate(45deg) scale(0.95);
    }
    20% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0) scale(1);
    }
}
@-webkit-keyframes stretch-animation {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.1, 0.9);
    }
    30% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}
@keyframes stretch-animation {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1.1, 0.9);
    }
    30% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.05, 0.95);
    }
    100% {
        transform: scale(1, 1);
    }
}

#toltoptips .socials {
    position: fixed;
    display: block;
    left: 20px;
    bottom: 20px;
}
#toltoptips .socials > a {
    display: block;
    width: 30px;
    opacity: 0.2;
    transform: scale(var(--scale, 0.8));
    transition: transform 0.3s cubic-bezier(0.38, -0.12, 0.24, 1.91);
}
#toltoptips .socials > a:hover {
    --scale: 1;
}
